<% content_for(:menu) do %>
  <%= link_to 'Aggiungi Socio', new_socio_path %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="input-group"> <span class="input-group-addon">Cerca</span>
  <input id="filter" type="text" class="form-control" placeholder="Scrivi qui...">
</div>

<br/>
<div class=" table-responsive">
<table class="table table-condensed table-hover ">
  <thead>
    <tr>
      <th><%= sortable 'number', 'N°'%></th>
      <th></th>
      <th>Nome e Cognome</th>
      <th><%= sortable 'contact', 'Mail'%></th>
      <th><%= sortable 'registration_date', 'Data di registrazione'%></th>
      <th>Azioni</th>
      <th></th>
    </tr>
  </thead>

  <tbody class="searchable">
    <% @socios.each do |socio| %>
      <% classe = "danger" if socio.complete== false %>
      <% classe = "warning" if socio.complete == true %>
      <% classe = "success" if socio.completo? %>
      <tr class="<%=classe %>" class="searchable">
        <td><%= socio.number %></td>
        <td><%= raw socio.generic_status %></td>
        <td><%= socio.name %> <%= socio.surname %></td>
        <td><%= truncate socio.contact %></td>

        <td><%= l socio.registration_date if socio.registration_date.present?%></td>
        <td><%= raw socio.azioni %></td>


        <td style="text-align:right">
        <%= link_to 'Modifica', edit_socio_path(socio) %>
        <%= link_to 'Cancella', socio, method: :delete, data: { confirm: 'Sei sicuro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div><!--.table-responsive-->
<br>

<%= link_to 'Aggiungi Socio', new_socio_path %>
