<% content_for(:menu) do %>
  <%= link_to 'Aggiungi Socio', new_socio_path %>
<% end %>

<p id="notice"><%= notice %></p>
<strong><%= Socio.all.size %> </strong> soci archiviati
<div class=" table-responsive">
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th><%= sortable 'number', 'N°'%></th>
      <th><%= sortable 'name', 'Nome'%></th>
      <th><%= sortable 'surname', 'Cognome'%></th>
      <th><%= sortable 'contact', 'Mail'%></th>
      <th><%= sortable 'cf', 'Codice Fiscale'%></th>
      <th><%= sortable 'complete', 'Registrati con modulo'%></th>
      <th><%= sortable 'registration_date', 'Data di registrazione'%></th>
      <th><%= sortable 'birthdate', 'Data di nascita'%></th>
      <th><%= sortable 'birth_place', 'Luogo di nascita' %></th>
      <th><%= sortable 'residence_place', 'Residenza' %></th>
      <th><%= sortable 'created_at', 'Aggiunto' %></th>
      <th><%= sortable 'updated_at', 'Aggiornato' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @socios.each do |socio| %>
      <% classe = "success" if socio.completo? %>
      <tr class="<%=classe %>">
        <td><%= socio.number %></td>
        <td><%= socio.name %></td>
        <td><%= socio.surname %></td>
        <td><%= truncate socio.contact, length:10 %></td>
        <td><small><%= truncate socio.cf, length:10 %></small></td>
        <td><%= socio.complete %></td>
        <td><%= l socio.registration_date if socio.registration_date.present?%></td>
        <td><%= l socio.birthdate if socio.birthdate.present? %></td>
        <td><%= socio.residence_place %></td>
        <td><%= socio.birth_place %></td>
        <td><%= l socio.created_at, format: "%d/%m %I:%M" %></td>
        <td><%= l socio.updated_at, format: "%d/%m %I:%M" %></td>

        <td>
        <%= link_to 'Modifica', edit_socio_path(socio) %>
        <%= link_to 'Cancella', socio, method: :delete, data: { confirm: 'Sei sicuro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div><!--.table-responsive-->
<br>

<%= link_to 'Aggiungi Socio', new_socio_path %>
