<p id="notice"><%= notice %></p>

<h1>Soci</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Mail</th>
      <th>Codice Fiscale</th>
      <th>Numero</th>
      <th>Registrazione completa</th>
      <th>Data di registrazione</th>
      <th>Data di nascita</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @socios.each do |socio| %>
      <tr>
        <td><%= socio.name %></td>
        <td><%= socio.surname %></td>
        <td><%= socio.contact %></td>
        <td><%= socio.cf %></td>
        <td><%= socio.number %></td>
        <td><%= socio.complete %></td>
        <td><%= l socio.registration_date if socio.registration_date.present?%></td>
        <td><%= l socio.birthdate if socio.birthdate.present? %></td>
        <td><%= link_to 'Modifica', edit_socio_path(socio) %></td>
        <td><%= link_to 'Cancella', socio, method: :delete, data: { confirm: 'Sei sicuro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Aggiungi Socio', new_socio_path %>
