<p id="notice" style="margin-top: 10px"><%= notice %></p>

<p>
  <strong><%= t :name %>:</strong>
  <%= @socio.name %>
</p>

<p>
  <strong><%= t :surname %>:</strong>
  <%= @socio.surname %>
</p>

<p>
  <strong><%= t :contact %>:</strong>
  <%= @socio.contact %>
</p>

<p>
  <strong><%= t :number %>:</strong>
  <%= @socio.number %>
</p>

<p>
  <strong><%= t :registration_date %>:</strong>
  <%= @socio.registration_date %>
</p>

<p>
  <strong><%= t :cf %>:</strong>
  <%= @socio.cf %>
</p>

<p>
  <strong><%= t :birthdate %>:</strong>
  <%= @socio.birthdate %>
</p>

<p>
  <strong><%= t :birth_place %>:</strong>
  <%= @socio.birth_place %>
</p>

<p>
  <strong><%= t :residence_place %>:</strong>
  <%= @socio.residence_place %>
</p>

<p>
  <strong><%= t :tel %>:</strong>
  <%= @socio.tel %>
</p>

<p>
  <strong><%= t :complete %>:</strong>
  <%= @socio.complete %>
</p>

<%= link_to 'Edit', edit_socio_path(@socio) %> |
<%= link_to 'Back', socios_path %>
