<p id="notice"><%= notice %></p>

<h1>Socis</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Contatto</th>
      <th>Cf</th>
      <th>Numero tessera</th>
      <th>Da rinnovare</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @socis.each do |soci| %>
      <tr>
        <td><%= soci.nome %></td>
        <td><%= soci.cognome %></td>
        <td><%= soci.contatto %></td>
        <td><%= soci.cf %></td>
        <td><%= soci.numero_tessera %></td>
        <td><%= soci.da_rinnovare %></td>
        <td><%= link_to 'Show', soci %></td>
        <td><%= link_to 'Edit', edit_soci_path(soci) %></td>
        <td><%= link_to 'Destroy', soci, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Soci', new_soci_path %>
