- if notice.present?
  %p(id="notice")= notice

- content_for (:menu) do
  Download:
  = link_to "CSV", incomes_path(format: "csv")
  = "-"
  = link_to "Excel", incomes_path(format: "xls")

.row
  .col-sm-12
    .pull-left(style="margin-top: 10px")
      %strong= Income.model_name.human(count: :many)
    .pull-right
      = link_to  'Aggiungi entrata', new_income_path, class: 'btn btn-primary'

%hr
%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th 
      %th= Income.human_attribute_name('description')
      %th Categoria
      %th Data di transazione
      %th

  %tbody
    - @incomes.each do |income|
      %tr
        %td.col-xs-1
          .pull-right
            = humanized_money income.price
            = currency_symbol
        %td.col-xs-7= income.description
        %td.col-xs-1= link_to income.category.name, income.category if income.category.present?
        %td.col-xs-1= l income.date_of_transaction
        %td.col-xs-1(style="text-align:right")
          = link_to t('actions.edit'), edit_income_path(income)
          = link_to t('actions.delete'), income, :method => :delete, :data => { :confirm => 'Sei sicuro?' }
    %tr
      %td(colspan="5")
        %strong Totale
        = @incomes.total.format


%br

= link_to 'Aggiungi entrata', new_income_path, class: 'btn btn-primary'
