%p#notice= notice

%p
  %b Name:
  = @contact.name
%p
  %b Surname:
  = @contact.surname
%p
  %b Contact:
  = @contact.contact
%p
  %b Birthdate:
  = l @contact.birthdate  if @contact.birthdate.present?
%p
  %b Tel:
  = @contact.tel
%p
  %b Birth place:
  = @contact.birth_place
%p
  %b Residence place:
  = @contact.residence_place

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
