<%= form_for(verbal) do |f| %>
  <% if @verbal.errors.any? %>
    <div id="error_explanation">
      <h3 id="header_title">
        <%= t "activerecord.errors.messages.template",
                count: @verbal.errors.count, model: 'verbal' %>
      </h3>
      <ul>
        <% @verbal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, "Titolo" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content, "Contenuto" %>
    <%= f.text_area :content, class: 'form-control', rows:"20" %>
  </div>

  <div class="form-group">
    <%= f.label :authors, "Autori" %>
    <%= f.text_field :authors, class: 'form-control' %>

  </div>  <div class="form-group">
      <%= f.label :document_date, "Data documento" %>
      <%= f.date_select :document_date %>
    </div>

    <%= f.submit class: 'btn btn-primary btn-block' %>
<% end %>
