<%= form_for(verbal) do |f| %>
  <% if @verbal.errors.any? %>
    <div id="error_explanation">
      <h3 id="header_title">
        <%= pluralize(@verbal.errors.count, "errore ha", "errori hanno") %>
         impedito di salvare questo verbale:
      </h3>
      <ul>
        <% @verbal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, "Titolo" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content, "Contenuto" %>
    <%= f.text_area :content, class: 'form-control', style:"height:100px" %>
  </div>

  <div class="form-group">
    <%= f.label :authors, "Autori" %>
    <%= f.text_field :authors, class: 'form-control' %>

  </div>  <div class="form-group">
      <%= f.label :document_date, "Data documento" %>
      <%= f.date_select :document_date %>
    </div>

  <%
  label = "Crea"
  label = "Aggiorna" if action_name == 'edit'
  %>
    <%= f.submit label, class: 'btn btn-primary btn-block' %>
<% end %>
