<% content_for(:menu) do %>
  <%= link_to t('actions.new', model: Verbal.model_name.human),
                                                        new_verbal_path %>
</p>
<% end %>

<p id="notice"><%= notice %></p>

<div class="input-group">
<span class="input-group-addon"><%= t 'search_form.button' %></span>
  <input id="filter" type="text" class="form-control"
                            placeholder="<%= t 'search_form.placeholder' %>">
</div>

<br/>
<div class=" table-responsive">
  <table class="table table-condensed table-hover ">
    <thead>
      <tr>
        <th><%= sortable 'title',
                          Verbal.human_attribute_name(:title) %></th>
        <th><%= Verbal.human_attribute_name(:content) %></th>
        <th><%= Verbal.human_attribute_name(:authors) %></th>
        <th><%= sortable 'document_date',
                          Verbal.human_attribute_name(:document_date) %></th>
        <th><%= sortable 'updated_at',
                          Verbal.human_attribute_name(:updated_at) %></th>
        <th></th>
      </tr>
    </thead>

  <tbody class="searchable">
    <% @verbals.each do |verbal| %>
      <tr>
        <td><%= verbal.title %></td>
        <td><%= truncate verbal.content %></td>
        <td><%= verbal.authors %></td>
        <td><%= l verbal.document_date %></td>
        <td><%= l verbal.updated_at.to_date %></td>
        <td style="text-align:center">
          <%= link_to t('actions.show'), verbal %>
          <%= link_to t('actions.edit'), edit_verbal_path(verbal) %>
          <%= link_to t('actions.delete'), verbal, method: :delete, data: { confirm: "Sei sicuro?\n:(" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
