<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Document date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @verbals.each do |verbal| %>
      <tr>
        <td><%= verbal.title %></td>
        <td><%= truncate verbal.content %></td>
        <td><%= verbal.document_date %></td>
        <td><%= link_to 'Show', verbal %></td>
        <td><%= link_to 'Edit', edit_verbal_path(verbal) %></td>
        <td><%= link_to 'Destroy', verbal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Verbal', new_verbal_path %>
