<h3>Elenco verbali</h3>

<p id="notice"><%= notice %></p>
</br>

<div class="input-group"> <span class="input-group-addon">Cerca</span>
  <input id="filter" type="text" class="form-control" placeholder="Scrivi qui...">
</div>

<br/>
<div class=" table-responsive">
  <table class="table table-condensed table-hover ">
    <thead>
      <tr>
        <th><%= sortable 'title', 'Titolo'%></th>
        <th>Contenuto</th>
        <th><%= sortable 'document_date', 'Data documento'%></th>
        <th><%= sortable 'updated_at', 'Ultima modifica'%></th>
      </tr>
    </thead>

  <tbody class="searchable">
    <% @verbals.each do |verbal| %>
      <tr>
        <td><%= verbal.title %></td>
        <td><%= truncate verbal.content %></td>
        <td><%= verbal.document_date %></td>
        <td><%= verbal.updated_at.strftime '%Y-%m-%d (%H:%M:%S)' %></td>
        <td style="text-align:center">
          <%= link_to 'Apri', verbal %>
          <%= link_to 'Modifica', edit_verbal_path(verbal) %>
          <%= link_to 'Elimina', verbal, method: :delete, data: { confirm: "Sei sicuro?\n:(" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuovo Verbale', new_verbal_path %>
