<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @verbal.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= truncate @verbal.content %>
</p>

<p>
  <strong>Document date:</strong>
  <%= @verbal.document_date %>
</p>

<%= link_to 'Modifica', edit_verbal_path(@verbal) %> |
<%= link_to 'Elenco dei verbali', verbals_path %>
