<p id="notice"><%= notice %></p>

<p>
  <strong>Data documento:</strong>
  <%= @verbal.document_date %>
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
    <strong><%= @verbal.title.capitalize %></h3></strong>
    <%= @verbal.authors.titleize %>
  </div>
  <div class="panel-body">
    <%= @verbal.content %>
  </div>
</div>

<%= link_to 'Modifica', edit_verbal_path(@verbal) %> |
<%= link_to 'Elenco dei verbali', verbals_path %>
