%h1= Outcome.model_name.human(count: :many)

%table.table
  %thead
    %tr
      %th= Outcome.human_attribute_name('description')
      %th= Outcome.human_attribute_name('description')
      %th= Outcome.human_attribute_name('date_of_transaction')
      %th
      %th

  %tbody
    - @outcomes.each do |outcome|
      %tr
        %td= number_to_currency outcome.price
        %td= outcome.description
        %td= l outcome.date_of_transaction
        %td(style="text-align:right")
          = link_to t('actions.show'), outcome
          = link_to t('actions.edit'), edit_outcome_path(outcome)
          = link_to t('actions.delete'), outcome, :method => :delete, :data => { :confirm => 'Sei sicuro?' }

%br

= link_to 'Aggiungi Uscita', new_outcome_path, class: 'btn btn-primary'
