- content_for(:menu) do 
  Download:
  = link_to "CSV", outcomes_path(format: "csv") 
  = "-"
  = link_to "Excel", outcomes_path(format: "xls") 


- if notice.present?
  %p(id="notice")= notice

.row
  .col-sm-12
    .pull-left(style="margin-top: 10px")
      %strong= Outcome.model_name.human(count: :many)
    .pull-right
      = link_to  'Aggiungi uscita', new_outcome_path, class: 'btn btn-primary'

%hr

%table.table.table-hover.table-striped.table-condensed
  %thead
    %tr
      %th
      %th= Outcome.human_attribute_name('description')
      %th Categoria
      %th= Outcome.human_attribute_name('date_of_transaction')
      %th

  %tbody
    - @outcomes.each do |outcome|
      %tr
        %td.col-xs-1
          .pull-right
            = humanized_money outcome.price
            = currency_symbol
        %td.col-xs-6= outcome.description
        %td.col-xs-1= link_to outcome.category.name, outcome.category if outcome.category.present?
        %td.col-xs-1= l outcome.date_of_transaction
        %td.col-xs-2(style="text-align:right")
          = link_to t('actions.edit'), edit_outcome_path(outcome)
          = link_to t('actions.delete'), outcome, :method => :delete, :data => { :confirm => 'Sei sicuro?' }
    %tr
      %td
        %strong
          .pull-right
            = humanized_money @outcomes.total
            = currency_symbol
      %td(colspan="4")
        



.row
  .col-sm-12
    .pull-right
      = link_to  'Aggiungi uscita', new_outcome_path, class: 'btn btn-primary'

%br
