%table.table
  %thead
    %tr
      %th Name
      %th Entrate
      %th Uscite
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td
          = link_to category.name, category
        %td.text-success= category.income.total.format
        %td.text-danger= category.outcome.total.format
        %td(style="text-align:right")
          = link_to t('actions.edit'), edit_category_path(category)
          = link_to t('actions.delete'), category, :method => :delete, :data => { :confirm => 'Sicuro?' }

%br

= link_to 'New Category', new_category_path
