- if notice.present?
  %p#notice= notice
.pull-left
  %strong= @category.name
.pull-right
  = link_to 'Edit', edit_category_path(@category)
  \|
  = link_to 'Back', categories_path
.clearfix

.row
  .col-sm-6
    %hr
    %strong Entrate
    %hr
    %table.table
      - @category.incomes.each do |income|
        %tr
          %td= income.description
          %td
            .pull-right= income.price.format
    %hr
    .pull-right
      Totale
      %strong= @category.incomes.total
    .clearfix
    %hr

  .col-sm-6
    %hr
    %strong Uscite
    %hr
    - @category.outcomes.each do |outcome|
      .row
        .col-xs-8= outcome.description
        .col-xs-4
          .pull-right= outcome.price.format
    %hr
    .pull-right
      Totale
      %strong= @category.outcomes.total
    .clearfix
    %hr