- if notice.present?
  %p#notice= notice
.pull-left
  %strong= @category.name
.pull-right
  = link_to 'Edit', edit_category_path(@category)
  \|
  = link_to 'Back', categories_path
.clearfix

%hr

.row
  .col-sm-6
    
    %strong(style="margin-bottom: 20px; display: block") Entrate
    
    %table.table
      - @category.incomes.each do |income|
        %tr
          %td= income.description
          %td
            .pull-right= income.price.format
    
    .pull-right
      Totale
      %strong= @category.incomes.total.format
    .clearfix
    
  .col-sm-6
    
    %strong(style="margin-bottom: 20px; display: block") Uscite
    
    %table.table
      - @category.outcomes.each do |outcome|
        %tr
          %td= outcome.description
          %td
            .pull-right= outcome.price.format
    
    .pull-right
      Totale
      %strong= @category.outcomes.total.format
    .clearfix
    %hr