<!DOCTYPE html>
<html>
  <head>
    <title>Gestionale Associazione</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <hr style="margin-top:0; border: none" />
      <strong>Gestionale: </strong>
      <%= link_to "Soci", socios_path %>
      <hr/>
    </div>
    
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
