!!!
%html
  %head
    %title= t '.association_manager'
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav.navbar.navbar-default.navbar-fixed-top
        .container-responsive
          .col-sm-12
            %hr{:style => "margin-top:0; border: none"}/
            = link_to Contact.model_name.human(count: :many), contacts_path
            \/
            = link_to Socio.model_name.human(count: :many), socios_path
            \/
            = link_to Verbal.model_name.human(count: :many), verbals_path
            \/
            = link_to Income.model_name.human(count: :many), incomes_path
            \/
            = link_to Outcome.model_name.human(count: :many), outcomes_path
            \/
            = link_to Category.model_name.human(count: :many), categories_path
            .pull-right
              = yield(:menu)
            %hr{:style => "margin-top:0; border: none"}/
    .container-responsive
      .col-sm-12= yield