<!DOCTYPE html>
<html>
  <head>
    <title>Gestionale Associazione</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-responsive">
      <div class="col-sm-12">
      <hr style="margin-top:0; border: none" />
        <strong>Gestionale: </strong>
        <%= link_to "Soci", socios_path %>
        <div class="pull-right"><%= yield(:menu) %></div> | 
        <%= link_to "Verbali", verbals_path %>
        <div class="pull-right"><%= yield(:menu) %></div>
      <hr/>
      </div>
    </div>

    <div class="container-responsive">
    <div class="col-sm-12"><%= yield %></div>
    </div>
  </body>
</html>
