<!DOCTYPE html>
<html>
  <head>
    <title><%= t '.association_manager' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-responsive">
        <div class="col-sm-12">
        <hr style="margin-top:0; border: none" />
          <%= link_to Socio.model_name.human(count: :many), socios_path %> /
          <%= link_to Verbal.model_name.human(count: :many), verbals_path %> /
          <%= link_to Income.model_name.human(count: :many), incomes_path %> / 
          <%= link_to Outcome.model_name.human(count: :many), outcomes_path %> /
          <%= link_to Category.model_name.human(count: :many), categories_path %>
          <div class="pull-right"> <%= yield(:menu) %></div>
        <hr style="margin-top:0; border: none" />
        </div>
      </div>
    </nav>
  </header>

  <body>
    <div class="container-responsive">
    <div class="col-sm-12"><%= yield %></div>
    </div>
  </body>
</html>
